.container{
  box-sizing: border-box;
  min-height: calc(100vh - 30vh - 70px);
  padding: 1rem;
  position: relative;
}

.container__title{
  margin: 1rem 0;
  padding: 0 .5em;
  font-size: 3rem;
}

.container__img{
  margin-bottom: 1rem;
}

.img{
  width: 300px;
  margin-left: 5%;
  border-radius: .5rem;
}

.form__block{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
}

.form__input{
  padding: .4rem .8rem;
  width: 85%;
  margin-left: 5%;
  border: 1px solid #666;
  border-radius: .5rem;
  overflow: auto;
}

.form__label{
  width: 95%;
  margin-left: 5%;
  font-weight: 700;
  color: var(--dark-Slate-Gray);
}

.container__btns{
  width: 85%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-left: 5%;
}

.container__btns button{
  padding: .5rem 1rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: .5rem;
  font-size: 1.2rem;
  transition: all .3s ease;
}

.btn__edit{
  background-color: rgb(25, 116, 236);
  color: var(--white);
}

.btn__del{
  background-color: rgb(216, 29, 29);
  color: var(--white);
}

@media (hover:hover){

  .btn__del:hover{
    background-color: var(--white);
    color: rgb(216, 29, 29);
  }

  .btn__edit:hover{
    background-color: var(--white);
    color: rgb(25, 116, 236);
  }
}