.plate{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: .5rem;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
  color: var(--dark-Slate-Gray);
}

.plate__image{
  width: 200px;
  object-fit: scale-down;
}

.plate__description{
  padding: 1rem .5rem;
}

.name{
  font-size: 2rem;
  font-weight: 900; 
  margin: 0;
}

.description{
  margin: 0;
}

.price{
  margin: 0;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.buttons__container{
  display: flex;
  flex-flow: column nowrap;
}

.buttons__panel{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

.buttons__panel button{
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--dark-Slate-Gray);
  transition: .3s ease;
  border: none;
  border-radius: .2rem;
  background-color: inherit;
}

.buttons__panel input{
  border: 1px solid #ccc;
}

.buttons__panel button:hover{
  background-color: var(--orange);
  color: var(--white);
}

.buttons__container span{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  padding: .5rem 0;
}

.cart__btn{
  margin-top: 1rem;
  padding: .6rem 1.2rem;
  background-color: var(--orange);
  border-radius: .2rem;
  border: none;
  color: #fff;
  transition: .3s ease;
}

.cart__btn:hover{
  background-color: var(--purple);
}

@media screen and (max-width: 800px){
  .plate{
    flex-direction: column;
    border: 1px solid #999;
    filter: drop-shadow(0 0 2px #aaa);
    padding: 1rem
  }

  .plate img{
    margin: 0 auto;
    width: 300px;
  }

  .plate__description{
    text-align: center;
  }

  .buttons__container{
    margin: 0 auto
  }
}
