.container{
    box-sizing: border-box;
    min-height: calc(100vh - 30vh - 70px);
    padding: 1rem;
    position: relative;
  }
  
  .container__title{
    margin: 1rem 0;
    padding: 0 .5em;
  }
  
  .reservas__container{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5%;
  }
  
  .addBtn{
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 500px;
    border-radius: 100%;
    padding: 1.2rem 1.2rem;
    background-color: var(--dark-brown);
    border: 1px solid var(--dark-brown);
    font-size: 1.3rem;
    transition: all .3s ease;
  }
  
  .addBtn i{
    color: var(--white);
  }
  
  .reserva{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
    box-shadow: 0 0 3px #999;
    border-radius: .5rem;
    overflow: hidden;
  }
  
  .dish img{
    width: 175px;
    height: 150px;
  }
  
  .reservas__content{
    padding-left: 1rem;
    width: 100%;
    position: relative;
  }
  
  .reservas__content h2{
    margin: 0;
    font-weight: 700;
    color: var(--dark-brown);
    text-transform: uppercase;
  }
  
  .dish__content small{
    display: block;
    font-size: 1.1rem;
    color: var(--dark-brown);
  }
  
  .container__btns{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
  
  .container__btns button{
    padding: .5rem 1rem;
    border: 1px solid rgb(207, 207, 207);
    border-radius: .5rem;
    font-size: 1.2rem;
    transition: all .3s ease;
  }
  
  .btn__edit{
    background-color: rgb(25, 116, 236);
    color: var(--white);
  }
  
  .btn__del{
    background-color: rgb(216, 29, 29);
    color: var(--white);
  }
  
  @media (hover:hover){
    .btn__del:hover{
      background-color: var(--white);
      color: rgb(216, 29, 29);
    }
  
    .btn__edit:hover{
      background-color: var(--white);
      color: rgb(25, 116, 236);
    }
  }