.container{
  box-sizing: border-box;
  min-height: calc(100vh - 30vh - 70px);
  padding: 1rem;
  position: relative;
}

.container__title{
  margin: 1rem 0;
  padding: 0 .5em;
}

.container__img{
  margin-bottom: 1rem;
}

.img{
  width: 300px;
  margin-left: 5%;
  border-radius: .5rem;
}

.form__block{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
}

.form__input{
  padding: .4rem .8rem;
  width: 85%;
  margin-left: 5%;
  border: 1px solid #666;
  border-radius: .5rem;
  overflow: auto;
}

.form__label{
  width: 95%;
  margin-left: 5%;
  font-weight: 700;
  color: var(--dark-Slate-Gray);
}

.button{
  margin-left: 5%;
  padding: .4rem .8rem;
  border: 1px solid var(--dark-Slate-Gray);
  border-radius: .5rem;
  background-color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s ease;
}

@media (hover:hover){
  .button:hover{
    background-color: var(--white);
    color: var(--dark-Slate-Gray);
  }
}