*{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.menu__container{
  width: 95%;
  margin: 0 auto;
}

.title{
  font-size: 3.5em;
  margin: 5.5rem 0;
  color: var(--dark-Slate-Gray);
  font-weight: 900;
}

.menu__items{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}


.modal__container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.678);
  overflow: hidden;
  transition: all .3s;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--white);
  padding: 2rem;
  border-radius: .2rem;
}

.text-alert{
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--dark-Slate-Gray);
}

.modal_btns{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.modal_btns button{
  background-color: inherit;
  border: none;
  font-size: 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: var(--dark-Slate-Gray);
  transition: .3s ease;
  box-shadow: 0 0 2px #999;
}

.modal_btns button:nth-child(1){
  color: rgb(39, 163, 39);
}

.modal_btns button:nth-child(1):hover, modal_btns button:nth-child(1):hover i{
  color: var(--white);
  background-color: rgb(39, 163, 39);
}

.modal_btns button:nth-child(2){
  color: rgb(190, 41, 41);
}

.modal_btns button:nth-child(2):hover, modal_btns button:nth-child(2):hover i{
  color: var(--white);
  background-color: rgb(190, 41, 41);
}

.hide{
  display: none;
}

.menu_pagination {
  flex: 0 1 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 150px;
}

.menu_pagination > button {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1d1413;
  font-weight: bold;
  font-size: 14px;
  border: none;
  background-color: var(--white);
}

.menu_pagination > button:hover {
  cursor: pointer;
}
