:root{
  --dark-Slate-Gray: #52313c;
  --orange: #fd3a02;
  --light-gray: #d5cace;
  --silver: #c4b0b5;
  --purple: #8e235e;
  --dark-brown: #310101;
  --white: #fff;
  --black: #000;
  --aquamarine: #3b707d;
  --gray: #E1E1E1;
  --orange-2: #FF5500;
}
*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

input{
  padding: .3rem .6rem;
}

a,a:focus,a:visited{
  color: black;
  text-decoration: none;
}

/* Bootstrap style modifications */
.carousel-item{
  position: relative;
}

.carousel-control-next,.carousel-control-prev{
  opacity: .6;
}
.carousel,.carousel-inner,.carousel-item,.carousel_img{
  height: 100%;
}
.carousel-control-prev,.carousel-control-next{
  align-items: flex-end;
  z-index: 10;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: var(--orange);
  padding: 1.5rem;
  border-radius: 5rem;
  transition: background-color .5s ease;
}
.carousel-control-prev-icon:hover,.carousel-control-next-icon:hover{
  background-color: var(--purple);
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  margin-bottom: 1.5rem;
}

@media screen and (max-width:800px) {
  .carousel_img{
    min-height: 450px;
  }
}

@media screen and (max-width:550px){
  .carousel_img{
    min-height: 370px;
  }
}